# /usr/lib/systemd/system/memrise_control.service

[Unit]
Description=save backup of courses and send email
Wants=memrise_control.timer

[Service]
Type=simple
ExecStart=/home/dori/bin/control_courses
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=basic.target
