# /etc/systemd/user/memrise.timer

[Unit]
Description=daily scraping of memrise items

[Timer]
#OnCalendar=daily
# run immediately if we missed a backup for some reason
#Persistent=true
#AccuracySec=15
OnUnitActiveSec=1d


# /etc/systemd/user/memrise.service

#[Unit]
#Description=scraping of memrise items
#
#[Service]
#Nice=19
#IOSchedulingClass=2
#IOSchedulingPriority=7
#ExecStart=/home/dori/bin/memrise_stats --save-kanji-learnt
#
#[Install]
#WantedBy=timers.target
