# /etc/systemd/user/memrise.service

[Unit]
Description=scraping of memrise items

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/home/dori/bin/memrise_stats
